.EmojiCard {
    position: absolute;
    font-size: 24px;
    max-width: 580px;
    background-color: #fff;
    bottom: 190px;
    left: 20px;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid #dedede;

    button {
        border: none;
        cursor: pointer;
        width: 32px;
        height: 32px;
        padding: 0;
        background-color: transparent;
        border-right: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
    }

    button:hover {
        background-color: #eee;
    }
}