.ContactCard {
    display: flex;
    align-items: center;
    padding: 10px 18px 9px;
    border-bottom: 1px solid #292c33;

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 2px;
        flex-shrink: 0;
    }

    h4 {
        margin: 0;
        color: #fff;
        font-weight: 400;
        font-size: 13px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }
}